#fixed-top{}
  %audio#music{ src: Rails.configuration.settings['filehost'] + song.filename }, preload: 'true' }
  #progress
  %ul#controls.actions{ }
    %li
      %a.download{href: download_song_path(song.id), alt: 'Download Song', title: 'Download'} &#8623;
    %li.add{ng: {click: "addSong(song)"} } &#43;
    %li.play.inactive{ ng: {click: 'playSong(song)'}} &#9658;
    %li.pause{ ng: {click: 'pauseSong(song)'}} &#9616;&#9616;

  %span.name
    {{song.name}}

  #opts{ style: 'display: none;'}
    %input{type: 'radio', name: 'visual-option', value: 'bar'} Bar
    %input{type: 'radio', name: 'visual-option', value: 'line'} Line

  %h1#logo 
    thisTrack.rocks

  %canvas#viz{ width: 1000, height: 50}
