#middle.section
  %h3
    %span.artist
      {{song.artist}}
    =" | "
    %span.title
      {{song.title}}
  %p
    {{song.description}} ...
    %a{href: @song.posturl, target: '_blank', ng:{ href: 'song.posturl'}}
      (read more)

  %h3
    What users say:
  %ul.comments
    %li.comment{ng: { model: 'comment_display'}}
      {{comment_display.comment}}
    
