#middle.section
  %h3
    What blogs say:
  %ul.blogs
    %li
      =@song.description + "..."
      %a{href: @song.posturl, target: '_blank'}
        (read more)
  %h3
    What users say:
  %ul.soundcloud
    %li This is cool
    %li This is cool
    %li This is cool
    %li This is cool
    %li This is cool
    %li This is cool

