#content
  %section#header
    %h1 Sam Choi
    %h2 local San Franciscan, geek, world traveler
  %section#who
    .bubble#local
      %p{ style: 'display: none;'}
        local San Franciscan, geek, world traveler
    .bubble#hack
      %p
        who loves to tinker and hack with web stuff.
      %a{href: 'http://github.com/samchoi'}
        .image-circle.github
      %p
        this section is always a work in progess...
    .bubble#ucsb
    .bubble.caption
      B.S. Computer Science from the prestigious UC Santa Barbara.
    .bubble#summer
      %p
        During the summers, I enjoy taking in some festivals.
      .image-circle.burning-man
      /.image-circle.edc
      .image-circle.coachella
    .bubble#winter
      //.image-circle.squaw
      .image-circle
        Winters, you will find me snowboarding.

      //.image-circle.nap
    .bubble.travel
      %p
        In between, there's some world travel.
      //.image-circle.bhutan
    .bubble.monkey
    .bubble.caption
      %p
        Hey look! A baby monkey!
    .bubble.ireland
    .bubble.caption
      %p
        And a castle! This must be Ireland...
      /.image-circle.mikanos
      //.image-circle.zipline
    .bubble.thai
    .bubble.caption
      %p
        Pretty sure this is southeast of Bankok
    .bubble.temple
    .bubble.caption
      %p
        Fire detector installation in Bhutan
    .bubble.varanasi
    .bubble.caption
      %p
        The Ganges river flowing through Varansi

      //.image-circle.wli

  %p I'll be back soon! Retooling the site with some stuff I've been working on.
  -if browser.chrome?
    %p
      Using Google Chrome?
      %a{ href: music_path}
        Check out a music scraping project I'm hacking together!

