.audio-content
  =render partial:'shared/canvas', locals: {song: @song} if @song

  %h2
    Today's Top 50 from
    %a{href: '//hypem.com/popular'}HypeMachine

  =render partial: 'shared/song_list', locals: { songs: @songs} if @songs