.audio-content
  =render partial:'shared/canvas', locals: {song: @song} if @song
  %ul#songs
    -@songs.each do |song|
      %li{ data: {id: song.id, filename: song.filename, name: song.name} }
        %img{ src: song.thumb_url}
        %span.action-name

        .bottom
          %a.name{ href: "/song/#{song.id}"}=song.name
          %p.actions
            %span.add{data: {id: song.id} } &#43;
            %span.play-btn &#9658;
            %a.download-btn{href: download_song_path(song.id), alt: 'Download Song', title: 'Download'} &#8623;
          .description
            =song.description
          %p.rank
            =song.rank