.audio-content
  =render partial:'shared/canvas', locals: {song: @song} if @song

  #header
  %ul#songs
    -@songs.each do |song|
      %li{ data: {id: song.id, filename: song.filename, name: song.name}, style: "background-image: url('#{song.thumb_url}')" }
        .bottom
          %a.name{ href: "/song/#{song.id}"}=song.name
          %p.actions
            %span.add &#43;
            %span.play-btn &#9658;
            %a.download-btn{href: download_song_path(song.id), alt: 'Download Song', title: 'Download'} &#8623;
          .description
            =song.description
          %p.rank
            =song.id

  %h2
    %input#playlist-name{ type: 'text', maxlength: 25 }
    %a.download-list{ href: download_zip_path(Time.new.seconds_until_end_of_day.to_s)} &#8623;
    %a{ href: reset_path} &#10226;
  =render partial: 'shared/playlist', locals: { playlist: @playlist }
