%ul#songs
  -@songs.each do |song|
    %li{ data: {filename: song.filename, name: song.name} }
      %a{ href: "/song/#{song.id}"}=song.name
      %p
        %span.minus &#8722;
        %span.add &#43;
        %span.play-btn &#9658;

=render partial: 'shared/playlist', locals: { playlist: @playlist }