.audio-content{ng: { controller: 'MusicController'}}
  =render partial:'fixed_top', locals: {song: @song} if @song

  #ad-container
    Ad Goes Here
  =render partial: 'song'

  =render partial: 'middle'

  =render partial: 'download_list'

#footer