.audio-content{ng: { controller: 'MusicController'}}
  =render partial:'fixed_top', locals: {song: @song} if @song

  #ad-container
    Ad Goes Here

  #search
    %input{type: 'text'}
    %button{ng: { click: 'search()'}} Search
  %ul.toggler
    %li.songs{ ng: { click: "toggleBox('songs')"}} Song
    %li.middle{ ng: { click: "toggleBox('middle')"}} Middle
    %li.download-list{ ng: { click: "toggleBox('download-list')"}} Download

  =render partial: 'song'

  =render partial: 'middle'

  =render partial: 'download_list'

%footer
  %ul
    %li About
    %li Contact
    %li Get the Code