%form#search-container{ name: 'search-form', ng: {submit: 'getGuest()'}}
  %label.name Enter your name
  %input#search.text{ name: 'search-name', ng:{ model: "search.name" }}
  %button#search-name.go{ type: 'submit' } Go
