#content
  %ol
    %li.banner.pic1
      .content
        %h2
          BSA / AML Compliance and Risk Management Solutions and Validation
    %li.text
      %p
        %span.open
          Combat Crimes, Inc. and its high qualified team of BSA/AML experts 
        draw upon their years of experience working with financial institutions of all sizes and complexities, encompassing a variety of anti-money laundering (AML) software systems. We have the background experience and the expert knowledge necessary to put your BSA/AML program on solid ground and within the confines of the guidelines of the FFEIC BSA/AML Compliance Manual.  Combat Crimes, Inc. knows where the difficulties lie and we coordinate an effective effort to help our clients as they work to fulfill their regulatory and compliance requirements by providing the service financial institutions need to meet their immediate needs, and long term goals.
    %li.banner.pic2
      .content  
        %p
          %span.open 
            Without an independent validation, required periodic follow-ups and continued training, as required by the FFEIC BSA/AML Compliance Manual, 
          your financial institution is taking a high risk gamble that your AML software solution is working properly and is in compliance.  Simply relying on the software is NOT enough! Doing so only heightens the risk of penalties, fines and a negative impact on your financial institution’s reputation. CCI’s validation experts conduct an objective, rigorous and well documented testing and analyze the results to bring the most value to your BSA/AML program.
    %li.text
      %p
        An effective AML monitoring system is the foundation of a financial institution’s BSA/AML Software Program. However, if your current automated software system is missing or erroneously alerting unusual activity, then consequently all other components of your BSA program will be viewed more questionably and could result in monetary penalties resulting from enforcement actions.       

  #contact
    .contact
      %span.strong Be Proactive and Not Reactive!
      %a.button{ href: 'contact'}
        Start the Process &#8594;