<!DOCTYPE html>
<html>
<head>
  <title>Samscraper</title>
  <%= stylesheet_link_tag    'application.html.erb', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application.html.erb', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
