#fixed-top{style: "background-image: url('#{@header_image}')"}
  %audio#music{ src: Rails.configuration.settings['filehost'] + song.filename, preload: 'auto' }
  %canvas#viz{ width: 1350, height: 200}

  #controls
    %span=song.name
