%ul#songs
  -songs.each do |song|
    %li{ data: {id: song.id, filename: song.filename, name: song.name}, class: (@song.id == song.id) ? 'active' : nil }
      .rank
        ='#' + song.rank.to_s
      %img{ src: song.thumb_url}
      %span.action-name

      .bottom.box-type
        %a.name{ href: "/song/#{song.id}"}=song.name
        %p.actions
          %span.add{data: {id: song.id} } &#43;
          %span.play-btn &#9658;
          %a.download-btn{href: download_song_path(song.id), alt: 'Download Song', title: 'Download'} &#8623;
        .description
          =song.description