#title="..."
#action.pause
%p
  %a{ href: "/audios?likes=1"}
    Likes
  %a{ href: "/audios?history=1"}
    History
%audio#music{ src: nil, preload: 'auto' }
%canvas#viz{ width: 1350, height: 350}

#q
  -#@audios.each do |audio|
    =#render partial:'audio', locals: { audio: audio } if audio


