$white: #e6e6e6;
$green: #81b71a;
$dark-grey: #262626;

body{
  background-color: #000;
}


.toggler{
  width: 400px;
  margin: 0 auto;

  li{
    display: inline-block;
    height: 50px;
    width: 100px;
    border: 1px solid $dark-grey;
    &:hover, &.active{
      background-color: $green;
    }
  }
}

#search{
  display: inline-block;
  input, button{
    border: 1px solid $white;
    color: $white;
    height: 32px;
    font-size: 24px;
    background-color: #000;
  }

  input{
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
  }

  button{
    height: 40px;
    padding: 4px;
  }
}

.audio-content{
  a, a:visited, a:hover{
    color: $white;
    text-decoration: none;
  }
  *{
    padding: 3px;
  }
  background-color: #000000;  
  color: #e6e6e6;
  font-family: "Source Sans Pro";
  letter-spacing: .05em;
  padding-top: 175px;

  #fixed-top{
    background-color: inherit;
    height: 175px;
    position: fixed;
    top: 0;    
    margin: 0;
    padding: 0;
    h1#logo{
      font-family: 'Special Elite', cursive;    
      display: inline-block;
      position: fixed;
      right: 0;
      &:after{
        clear:both;
      }
    }

    #controls.actions{
      display: inline-block;
      margin: 5px;
      padding: 2px;
      list-style: none;
      font-size: 16px;
      line-height: 16px;
      li{ 
        display: inline-block;
        &.inactive{
          display: none;
        }

      }
    }

    #progress{
      display: block;
      height: 10px;
      background-color: $green;
      border-bottom: 1px solid $dark-grey;
      width: 0;
    }

    #viz{
      border-top: 2px solid $dark-grey;
    }


  }

  #ad-container{
    height: 50px;
    border-bottom: 1px solid $dark-grey;
    border-top: 1px solid $dark-grey;
  }

  #songs{
    border-left: none;
    list-style: none;
    width: 325px;
    padding: 3px;
    max-height: 650px;
    overflow: scroll;
    .song{
      width: 315px;
      height: 80px;
      margin: 2px;
      padding: 3px;
      background-color: $dark-grey;
      overflow: hidden;
      &:hover{
        background-color: #303030;
      }

      .rank{
        display: inline-block;
        display: none;
        height: 55px;
        width: 55px;
        font-size: 55px;
        line-height: 55px;
        text-align: center;        
      }

      .song-info{
        display: inline-block;
        list-style: none;
        height: 70px;
        width: 220px;
        overflow: hidden;
        li.name{
          height: 32px;
          overflow: hidden;
          text-align: center;
          text-overflow: ellipsis;
        }

        li ul.actions{
          margin: 0 auto;
          text-align: center;
          list-style: none;
          li{
            cursor: pointer;
            display: inline-block;
            &.inactive{
              display: none;
            }
          }
        }      
      }
    }
  }
  #middle{
    width: 500px;
    vertical-align: top;
    display: inline-block;

    .artist{
      color: $green;
    }

    .title{
      color: #FFFFFF;
    }
    ul{
      list-style: none;
    }
  }

  #download-list{
    background-color: #000;
    border-right: none;
    position: absolute;
    top: 0;
    vertical-align: top;
    width: 300px;
    display: none;

    &.show{
      display: block;
    }

    ol{
      list-style-position: inside;
    }

    .download-list{
      background-color: $green;
      border-radius: 10px;
      padding: 5px;
      color: #262626;
      &:hover{
        color: #e6e6e6;
      }
    }
    .clear-list{
      border-bottom: 1px solid $dark-grey;
      border-top: 1px solid $dark-grey;
      text-align: center;
      cursor: pointer;
      &:hover{
        color: $green;
      }
    }

    textarea{
      width: 100%;
      height: 75px;
      font-size: 16px;
    }

    button{
      border-radius: 0;
      border: none;
      padding: 6px;
    }
  }

  .hide{
    display: none;
  }

  .container-main{
    text-align: center;
  }
  .section{
    height: 100%;
    border-left: 1px solid $dark-grey;
    border-right: 1px solid $dark-grey;
    margin: 0 auto;
    display: inline-block;
  }
  
  footer{
    border-top: 1px solid $dark-grey;
    ul{
      li{
        display: inline-block;
        text-align: center;
      }
    }
  }

}