body{
  a{
    color: #696F7A;
    &:visited{
      color: #696F7A;
    }
  }

  .inactive{
    display: none;
  }

  .play-btn{
    font-size: 18px;
  }

  .pause-btn{
    letter-spacing: -.15em;
  }

  .actions{
    color: #000;
    a{
      color: #000;
      text-decoration: none;
    }
  }

  #playlist-name{
    border: none;
    background-color: grey;
    color: #fff;
    height: 25px;
    outline: none;
    padding: 5px;
    &:focus{
      border: none;
    }
  }
}

.audio-content{

  #fixed-top{
    background-image: url('/assets/headphones.jpg');
    background-position: 0 -50px;
    position: fixed;
    width: 100%;
    z-index: 1;
  }

  #q{
    overflow: scroll;
    height: 225px;
  }

  #controls{
    background-color: grey;
    line-height: 50px;
    margin-bottom: 0;
    padding: 0 15px;
    width: 100%;

    #ticker{
      height: 35px;
      width: 55%;
      margin-left: 50px;
    }
  }

  #header{
    background-image: url('/assets/headphones.jpg');
    background-position: 0 -50px;
    height: 250px;
    width: 100%;
  }

  #songs{
    float: left;
    list-style: none;
    overflow: hidden;
    width: 75%;
    li{
      border: 1px solid #696F7A;
      float: left;
      height: 160px;
      margin: 5px;
      padding: 5px;
      position: relative;
      width: 160px;
      .rank{
        bottom: 5px;
        position: absolute;
        right: 5px;
      }

    }

  }

  .audio{
    position: relative;
    float: left;
    margin: 5px;
    padding: 5px;
    width: 200px;
    height: 200px;
    border-radius: 2px;
    border: 1px solid black;

    background-repeat: no-repeat;
    background-position: top right;
    font-weight: bold;
    color: #000;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
    &.active{
      background-color: grey;
    }
    .action {
      position: absolute;
      bottom: 10px;
      &.like {
        right: 10px;
      }
    }
  }

  .play-btn{
    cursor: pointer;
  }

  .play{
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 50px solid black;
  }
  .pause{
    width: 5px;
    height: 50px;
    background-color: transparent;
    border-right: 10px solid black;
    border-left: 10px solid black;
  }
  .like{
    right: 10px;
    cursor: pointer;
    height: 32px;
    width: 32px;
    background-image: url('/assets/headphones.png');
  }

  #logo{
    display: inline-block;
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
    width: 100px;
    height: 25px;
    border: 3px solid black;
  }

  #title{
    line-height: 50px;
    float: left;
    margin-right: 25px;
    font-family: "Arial Black, Gadget, sans-serif";
    display: inline-block;
    font-size: 30px;
  }

  #playlist{
    float: right;
    width: 15%;
  }
  .add, .minus{
    cursor: pointer;
  }
}
