body{
  margin: 0;
  .inactive{
    display: none;
  }
}

#content{
  font-family: 'Special Elite', cursive;
  min-height: 480px;
  height: 100vh;
  width: 100%;
  #songs{
    font-size: 18px;
    height: 90%;
    overflow: scroll;
    position: absolute;
    top: 25px;
    width: 75%;
    z-index: 1;

    .song{
      background-color: rgba(255, 255, 255, .8);
      border-radius: 2px;
      box-shadow: 0 0 2px 0 rgba(0,0,0,.1);
      margin: 15px;
      overflow: hidden;
      padding: 15px 20px;
      .name{
        float: right;
        width: 75%;
      }
    }
  }
}

