body{
  margin: 0;
  .inactive{
    display: none;
  }
}

#content{
  background-image: url("/assets/headphones3.jpg");
  min-height: 480px;
  height: 100%;
  width: 100%;

  #controls{
    background-color: rgba(255, 255, 255, .8);
    border-radius: 2px;
    box-shadow: 0 0 2px 0 rgba(0,0,0,.1);
    margin: 15px;
    min-width: 240px;
    overflow: hidden;
    padding: 15px 20px;
    position: absolute;
    top: 75%;
    width: 25%;
    z-index: 1;
    .name{
      float: right;
    }
  }
}

