%table.lato
  %tr
    %th
    %th Yes
    %th No
  %tr{ ng:{ repeat: 'g in guest.party'} }
    %td{ ng: { model: 'g.name'} } {{g.name}}
    %td
      %input.rsvp{ type: 'radio', name: 'guest-{{g.id}}', ng:{ model: 'g.rsvp'}, value: 'yes'}
    %td
      %input.rsvp{ type: 'radio', name: 'guest-{{g.id}}', ng:{ model: 'g.rsvp'}, value: 'no' }