!!!
%html
  %head
  =javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js'
  =include_gon
  =javascript_include_tag 'audio'
  =javascript_include_tag 'visualizer'
  =stylesheet_link_tag 'audios'
  =stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Dosis'
  =csrf_meta_tags

%body
  = yield
