!!!
%html{ 'ng-app' => 'songs'}
  %head
    %title 
      = 'thisTrack.rocks | ' + (@song.title || 'music that rocks')
    %meta{ property: "og:audio", content: Rails.configuration.settings['filehost'] + @song.filename}

  =javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js'
  =include_gon
  =javascript_include_tag 'audio'
  =javascript_include_tag 'home'
  =javascript_include_tag 'visualizer'
  =javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyDWC2iAnNYZMrhrbMXJMIqzB5hI7pElnSA&sensor=false"

  =stylesheet_link_tag 'application'
  =stylesheet_link_tag 'audios'
  =stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Dosis'
  =stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Special+Elite'
  =stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Source+Sans+Pro'
  =csrf_meta_tags
%body{ }

  = yield
  
  =javascript_include_tag "//ajax.googleapis.com/ajax/libs/angularjs/1.3.4/angular.min.js"
  =javascript_include_tag "music.js"

